@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Barriecito&display=swap');

/* Fonts */
.contact-info {
    font-size: x-small;
}

body {
    font-family: "lato", sans-serif;
    width: 100vw;
    height: 100vh; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "acme", sans-serif;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    background-color: #eeb868;
    padding-left: 0;
}

.header {
    padding-top: 20px;
}

.logo {
    background: url(../media/Logo.svg);
    background-repeat: no-repeat;
    background-position: center cover;
}

.header {
    color: #ffffff;
}

/* Navbar */
.navbar-dark {
    background-color: #8e7cc3;
    color: #ffffff;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.navbar-expand-lg {
    justify-content: space-between;
}

.navbar-dark:active {
    color: #ffa500;
}

/* Main Body */
.main-body {
    min-height: 100vh;
    background-color: #d4cbed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carousel-container {
    width: 900px;
    padding-top: 20px;
    padding-left: 100px;
    -ms-flex-align: center;
}

/* .carousel {
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
} */

.line {
    color: black;
    justify-self: center;
    border-bottom: #ffa500 2px;
}
.about {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Footer */
#footer-details {
    color: #ffffff;
    background-color: #eeb868;
    justify-content: space-around;
}

.footer {
    max-height: 100px;
}

#footer-details a {
    color: #ffffff;
}

#footer-details a:hover {
    color: #d4cbed;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.payment-icons {
    display: flex;
    justify-content: center;
}

footer>h6 {
    display: inline-flex;
    justify-content: center;
}

/* Booking page */

.book {
    background: #8e7cc3;
}

.book .submit {
    background: #ffa500;
    border: none;
    border-radius: 5px;
    color: #ffff;
    width: 160px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 550;
}

.book .submit:hover {
    width: 170px;
}

.book form input {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}

.book h1 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}




/* ------------------- Media Queries ---------------------- */
.card {
    background-color: white;
    height: fit-content;
    width: 270px;
    margin: 10px;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
} 

.card-image{
    height: 170px;
    margin-bottom: 15px;
    margin-top: 10px;  
}

.card p{
    padding: 10px;
    font-size: 15px;
}

.card a{
    background-color: #eeb868;
    color: #ffffff;
    padding: 15px 20px;
    display: block;
    text-align: centre;
    margin: 20px 50px;
}

.card:hover {
    background-color: #b9aed7;
    color: #ffffff;
    cursor: pointer;
    text-transform: scale(0,5);
    transition: all 1s ease;
    text-decoration: none;
}

/* Gallery page */

.gallery {
    margin-top: 50px;
}

.gallery .change-content:after {
    content: '';
    color: orange;
    text-shadow: 0 1px 1px black;
    animation: changetxt 10s infinite linear;
}

.gallery .card {
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    cursor: pointer;
    width: 500px;
}

.gallery .card img {
    border-radius: 10px;
    transition: 0.5s;
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.gallery .card img:hover {
    transform: scale(1.05);
}

/* buttons */
.btn-primary {
    color: white;
    background-color: #ffa500;
}

@keyframes changetxt {
    0% {content: " Italy";}
    10% {content: " Shetlands";}
    20% {content: " Ishigaki";}
    30% {content: " Japan";}
    40% {content: " Spain";}
    50% {content: " Zanzibar";}
    60% {content: " the world's Archepelagos";}
    70% {content: " Hawaii";}
    80% {content: " Japan";}
    90% {content: " Carribean";}
    100% {content: " Zanzibar";}
}
