@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* colours */
.header {
    color: #ffffff;
}

.navbar-dark {
    background-color: #8e7cc3;
    color: #ffffff;
}

.navbar-expand-lg {
    justify-content: space-between;
}

.navbar-dark:active {
    color: #ffa500;
}

.footer-details {
    color: #ffffff;
    background-color: #eeb868;
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    background-color: #eeb868;
    padding-top: 25px;
    padding-left: 50px;
}

.header {
    padding-top: 75px;
}

.logo {
    background: url(../media/Logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    max-height: 200px;
    max-width: 200px;
}

/* Booking page */

.book {
    background: #8e7cc3;
}

.book .submit {
    background: #ffa500;
    border: none;
    border-radius: 5px;
    color: #ffff;
    width: 160px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 550;
}

.book .submit:hover{
    width: 170px;
}

.book form input {
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}

.book h1 {
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}
/* Combobox */
.destCombo {
    /* dhoif */
    min-height: 250px;
}